button{
    margin-bottom: 20px;
    border:none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    text-align:center;
    font-size: medium;
    padding: 10px 0px;
    box-shadow: 0px 10px 25px rgba(83, 123, 123, 0.15);
    background-color: rgba(201, 105, 201, 0.725);
}
button a{
    color:white;
}